# Virtual Environment
.venv/
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment Variables
.env

# Django
db.sqlite3
media/

# VS Code
.vscode/

# Mac/Linux
.DS_Store

# Logs
*.log

# Migrations cache
*.sqlite3

# Testing
.coverage
htmlcov/

# Pytest
.pytest_cache/

# mypy
.mypy_cache/

# Ruff
.ruff_cache/